div.sidebar
  .sidebar-header.text-center
    h4.mb-0 Admin Panel

  ul.sidebar-menu
    li
      a(href="/dashboard")
        i.fas.fa-tachometer-alt
        | Dashboard
    li
      a(href="/dashboard/users")
        i.fas.fa-users
        | Users
    li
      a(href="/dashboard/venues")
        i.fas.fa-map-marker-alt
        | Venues
    li
      a(href="/dashboard/spaces")
        i.fas.fa-th-large
        | Spaces
    li
      a(href="/dashboard/bookings")
        i.fas.fa-calendar-check
        | Bookings
    li
      a(href="/dashboard/payments")
        i.fas.fa-credit-card
        | Payments
    li
      a(href="/dashboard/chat")
        i.fas.fa-comments
        | Chat
    li
      a(href="/dashboard/settings")
        i.fas.fa-cog
        | Settings
