extends ../layouts/layout.pug

block content
  .container-fluid.py-4
    .row.chat-wrapper
      // Sidebar (User List)
      .col-md-4.col-lg-3
        .chat-user-list.card
          .chat-user-search.p-3
            .input-group
              span.input-group-text
                i.fas.fa-search
              input#userSearch.form-control(type="text", placeholder="Search users...")
          ul#userList.list-group.list-group-flush.chat-users
               
      // Chat Box
      .col-md-8.col-lg-9
        .chat-box.card
          .card-header.d-flex.justify-content-between.align-items-center
            span#chatWith 
            button.btn.btn-light.btn-sm
              i.fas.fa-ellipsis-h
          .card-body.chat-container.p-3#chatMessages
          .card-footer
            form#chatForm.d-flex
              input#chatInput.form-control(type="text", placeholder="Type your message...")
              button.btn.btn-primary.ms-2(type="submit")
                i.fas.fa-paper-plane
  <div id="socketConfig" data-socket-url=#{payload.socketUrl} style="display: none"></div>    


  script(src="/vendor/socketio/socket.io.min.js")
  script(src="/js/chat.js")
